body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-image: url(../public/57.webp);
  background-repeat: no-repeat;
  background-size: contain ; 
}

#App {
  display: flex;
  flex-direction: column;
}

.sidebar {
  text-align: center;
  color: aqua;
  position: fixed;
  top: 35px;
  margin-top: 20px;
  left: -250px;
  width: 90px;
  height: 100vh;
  padding: 1rem;
  transition: left 0.3s ease;
  background-color: rgb(250, 185, 240);
  border-radius: 10px;
}

.sidebar.visible {
  left: 0;
}

#footer {
  top: 0px;

}

#aboutus {
  text-align: center;
}